html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn,
em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var,
b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas,
details, embed, figure, figcaption, footer, header, hgroup, menu, nav,
output, ruby, section, summary, time, mark, audio, video, input, textarea {
  box-sizing: border-box;
}

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	background-color: #DCCEA1;
	background-image: url("https://john.colagioia.net/images/square_bg.png");
}
span {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
html, body {
    height: 100%;
    margin: 0;
}
body {
	line-height: 1;
    font-family: 'Source Sans Pro';
}
body div {
    height: 100%;
}
body div div {
    height: 100%;
}
main {
    height: -webkit-calc(100% - 37px);
    height: -moz-calc(100% - 37px);
    height: calc(100% - 37px);
    overflow: auto;
}
footer {
    height: 37px;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	border-left: 2px solid #5d296e;
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
blockquote blockquote p {
	display: block;
	float: right;
	padding: 0 0 0 10px;
	margin: 0.5em 0 0 1em !important;
	width: 225px;
	font-size: 3em;
	font-style: normal;
	line-height: 1.4em;
	text-align: right;
	color: #7d3793;
	border-left: 9px solid #5d296e;
	font-family: "Merriweather Sans";
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a, a:focus, a:hover, a:visited {
  background-color: transparent;
  color: #3C6C86;
  text-decoration: blink;
}
img {
  user-select: none;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
body {
  -webkit-filter: blur(0.000001px);
  -webkit-font-smoothing: antialiased;
}
button, a, label {
  cursor: pointer;
}
*[disabled] {
  cursor: not-allowed;
}
/*::-webkit-scrollbar {*/
  /*width: 4px;*/
  /*height: 6px;*/
/*}*/
/*::-webkit-scrollbar-thumb {*/
  /*background-color: #3C6C86;*/
  /*border-radius: 6px;*/
/*}*/
@media print {
  div, section, header, footer {
    display: none;
  }

  .resume-page {
    display: block;
  }
}
p + p, p + ul, ul + p {
  margin-top: 1em;
}
